/* @import "slick-carousel/slick/slick.css"; */
.navigation li.dropdown:hover > ul {
  display: block;
}
.mobile-header {
  margin-top: -1px;
}

.border-bottom-1 {
  border-bottom: 1px solid #dee2e6;
}

.slick-slide {
  padding: 0 15px;
}

.work-step-wrap .work-step-item {
  margin: 30px 0 !important;
  display: flex !important;
}
.slick-dots {
  display: flex !important;
}
.testimonial-author-two {
  opacity: 1 !important;
}
.testimonials-section-two .testimonial-item-two,
.testimonial-three-item {
  display: flex !important;
}
.testimonial-three-wrap .testimonial-three-item .image {
  transform: translate(0) !important;
}
/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}
.main-menu li.active > a,
.header-navigation .main-menu ul > li.has-children.active > a:after {
  color: #ff344f !important;
}

/* span.current {
  color: unset !important;
} */

/* Slidert */
.main-slider .slider-item {
  opacity: 0;
  display: none;
  transition: 1s all;
}
.main-slider .slider-item .slider-content {
  top: 50%;
  /* left: 50%; */
  transform: translate(0%, -50%);
  position: absolute;
}
.main-slider .slider-item.slick-active {
  opacity: 1;
  display: block;
}
.slider-section .pagingInfo {
  z-index: 2;
}
